# WebSocket / Reverb Configuration
REVERB_HOST = 
REVERB_PORT = 
REVERB_APP_KEY = 
REVERB_SCHEME = 

# Printer Configuration
# Printer Configuration
PRINTER_TYPE = os.getenv("PRINTER_TYPE", "file")  # "file" or "usb"
PRINTER_DEV_PATH = os.getenv("PRINTER_DEV_PATH", "/dev/usb/lp0")  # Standard for USB printer in Linux / Pi
PRINTER_USB_VENDOR = os.getenv("PRINTER_USB_VENDOR", "0x0416")  # Winbond/IWare default USB Vendor ID
PRINTER_USB_PRODUCT = os.getenv("PRINTER_USB_PRODUCT", "0x5011") # USB Product ID